@import 'modules/colors';
@import 'modules/mq';

body {
  background-color: palette('white');
  font-family: "source-han-sans-japanese", "rooney-sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "rooney-sans", sans-serif;
}

.wrapper {
  width: 80%;
  margin: auto;

  @include mq('large') {
    width: 1100px;
  }
}
